@import "tailwindcss";

:root {
  --background: #fbead6;
  --foreground: #1c1917;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917;
    --foreground: #fbead6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), Helvetica, sans-serif;
}
